 .header-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    justify-items: center;
    align-items: center;
    margin: 12px auto;
}

.site-title {
  padding-left: 24px;
}

.navigation-wrapper {
  padding-right: 24px;
}


.header_image {
  margin-bottom: 50px;

  img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
}

.post-list > li {
  display: flex;
  flex-wrap: wrap-reverse;

  div:first-child {
    flex: 4 0 200px;
  }
  .preview_image {
    flex: 1 0 200px;
    margin-bottom: 0;
  }
}

.searchbaricon-wrapper {
	display: none
}

.searchbar-wrapper {
	flex: 1
}

#search-bar-icon {
	float: right;
	font-size: 24px
}

#search-bar {
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 0 20px;
	position: relative;
	background-color: white
}

#search-bar #search {
	width: calc(100% - 30px);
	border: none;
	line-height: 44px;
	outline: none;
	border-style: none
}

#search-bar #search-result {
	display: none;
	position: absolute;
	top: 48px;
	width: 93%;
	max-height: 325px;
	overflow-y: auto;
	background-color: white;
	box-shadow: 0px 4px 8px 0 #ccc;
	z-index: 99999
}

#search-bar #search-result .result-item {
	display: block;
	padding: 8px 16px;
	text-decoration: none
}

#search-bar #search-result .result-item .title,
#search-bar #search-result .result-item .description {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

#search-bar #search-result .result-item .title {
	color: #0f468d;
	padding-bottom: 4px;
	font-size: 16px
}

#search-bar #search-result .result-item .description {
	color: #757575;
	font-size: 16px
}

#search-bar #search-result .result-item:hover {
	background-color: #e0edf1
}

@media screen and (max-width: 580px) {
	.searchbaricon-wrapper {
		display: block;
		margin-left: auto
	}

	.searchbar-wrapper {
		display: none;
		position: absolute;
		top: 80px;
		width: 90%;
		background-color: #424242;
		padding: 4px 5%;
		flex: none
	}
}

/*
.searchbaricon-wrapper {
  display: none;
}

#search-bar {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0 20px;
  position: relative;
  flex: 1;

  & #search {
    width: calc(100% - 30px);
    border: none;
    line-height: 44px;
    outline: none;
    border-style: none;
  }

  & #search-result {
    display: none;
    position: absolute;
    top: 48px;
    width: 93%;
    max-height: 325px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 4px 8px 0 #ccc;
    z-index: 99999;

    & .result-item {
      display: block;
      padding: 8px 16px;
      text-decoration: none;

      & .title,
      .description {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & .title {
        color: #0f468d;
        padding-bottom: 4px;
        font-size: 16px;
      }

      & .description {
        color: #757575;
        font-size: 16px;
      }

      &:hover {
        background-color: #e0edf1;
      }
    }
  }
}
*/