--- 
layout: default 
---

<div class="oppskrifter">

  <!-- Kategorier -->
  <h2 class="post-list-heading">Kategorier</h2>

  <a class="page-link" href="/oppskrifter/til-frukost/">Til frukost</a>
  <a class="page-link" href="/oppskrifter/til-middag/">Til middag</a>
  <a class="page-link" href="/oppskrifter/til-dessert/">Til dessert</a>
  <a class="page-link" href="/oppskrifter/til-kaffien/">Til kaffien</a>
  <a class="page-link" href="/oppskrifter/snacks/">Snacks</a>
  <a class="page-link" href="/oppskrifter/saus-og-dressing/">Saus og dressing</a>
  <a class="page-link" href="/oppskrifter/krydder-og-marinade/">Krydder og marinade</a>
  <a class="page-link" href="/oppskrifter/drikke/">Drikke</a>
  <a class="page-link" href="/oppskrifter/tilbehoer/">Tilbehør</a>
  <a class="page-link" href="/oppskrifter/bakst/">Bakst</a>
  <a class="page-link" href="/oppskrifter/paalegg/">Pålegg</a>

  <!-- Oppskrifter -->
  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">
      {{ page.list_title | default: "Oppskrifter" }}
    </h2>
    <ul class="post-list">
      {% for post in site.posts limit:25 %}

        {% if post.path contains 'oppskrifter' %}
          <li>
            <div>
              {% assign date_format = site.minima.date_format 
                | default: "%b %-d, %Y" %}
              <span class="post-meta">
                {{ post.date | date: date_format }}
              </span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {% if site.show_excerpts %} 
                {{ post.excerpt }} {% endif %}
            </div>
            {% if post.featured_image %}
            <div class="featured-image">
              <img
                src="{{ '/assets/images/' | append: post.featured_image | relative_url }}"
              />
            </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    
  {% endif %}
</div>