--- 
layout: default 
---

<div class="oppskrifter">

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">
      {{ page.list_title | default: "Oppskrifter" }}
    </h2>
    <ul class="post-list">
      {% for post in site.posts limit:25 %}

      <p>{{ page.path }}</p>
      <p>{{ post.category }}</p>

        {% if page.path contains post.category %}
          <li>
            <div>
              {% assign date_format = site.minima.date_format 
                | default: "%b %-d, %Y" %}
              <span class="post-meta">
                {{ post.date | date: date_format }}
              </span>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              {% if site.show_excerpts %} 
                {{ post.excerpt }} {% endif %}
            </div>
            {% if post.featured_image %}
            <div class="featured-image">
              <img
                src="{{ '/assets/images/' | append: post.featured_image | relative_url }}"
              />
            </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    
  {% endif %}
</div>